body { 
    margin:5;
    padding:0;          
}

.nav{
    color:#737373;
    list-style: 0;
    text-align: center;
    padding: 20px 0 20px 0;   
}  

.nav li {
    display: center;
    padding-right: 25px 25px 25px 25px; 
    border: none; 
}

.nav li a {
    text-decoration: none;
    color: #737373;  
}

.nav li a:hover {
   color: #ffffff; 
    
}
