body { 
  margin:5px;
  padding:0;          
}

nav {
  color:#737373;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;  
  width: 100%;
  height: 60px;
  background-color: #fafafa; 
}  
nav p {
  font-family: Verdana, Arial;
  color: #737373;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  padding: 0px;
}
nav ul li {
  display: inline-block;
  padding-right: 0px; 
  border: none; 
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #737373;  
  font-family: Verdana, arial;
  font-size: 14px;
  padding: 24px 14px;
}
nav ul li ul {
  display: none;
  display: block;
  position: absolute;
  background-color: #ffffff;
  padding: 10px; 
}

/* Dropdown Button */
.dropbtn {
  font-family: Verdana, Arial;
  color: #737373;
  background-color: #ffffff;
  padding: 16px;
  font-size: 14px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #737373;;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f1f1f1;}



/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: rgb(23, 0, 128);
    background: #a0208b;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

/* [DOES NOT MATTER] */
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #737373;;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}




