/* [ON BIG SCREENS] */
/* (A) WRAPPER */
#hamnav {
  width: 100%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #052742;
  top: 0;
  padding: 0px;
}


/* (B) HORIZONTAL MENU ITEMS */
li {display: inline;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { background: #052742; }

/* (C) HIDE HAMBURGER */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    background-color: #052742;
    width: 100%;
    border-top: 1px solid #333;
  
  }
  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    background: #a0208b;
    font-style: normal;
    font-size: 1.2em;
    padding: 0px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

/* [DOES NOT MATTER] */
html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}
