h1 {
    color:#737373;
    text-align: center;
    font-size: 1vw;    
    font-family: Arial, Helvetica, sans-serif;
  }  
  h2 {
    color:#737373;
    align-content: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
  }
  p {
    color: #737373;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;               
  }

  div,p {
    color: #737373;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;  
  }
  
  blockquote {
    color: #737373;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw; 
  }
  footer {
    color: #737373;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
  }
  p::first-line ::first-letter {
  
    font-weight: bold;
    font-size: 200%;
   
  }
  
  
  ::first-line ::first-letter
  main {
  
    width: 1750px;
    padding: 10px;
    border: none;
    margin: 0;
    font-size: x-large;
  }
  
  
