h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}  
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 18px;
  text-align: left;
  margin: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 18px;
  text-align: left;
  margin: 20px;
              
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 18px;
  text-align: left;
  margin: 20px;
              
}

main {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 18px;
  text-align: left;
  margin: 20px;
              
}
div,p {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 18px;
  text-align: left;
  margin: 20px;
 
}

blockquote {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 18px;
  text-align: left;
  margin: 20px;
              
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;   
  margin: 20px;
              
} 
                         
nav {
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 14px;
  text-align: center;
  margin: 20px;
}

p::first-line ::first-letter {

  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  font-size: 14px;
  text-align: center;
  margin: 20px;
  font-weight: bold;
  
}

.pic {
      height: 30px;
      width: 30px;
      }
      .picbig{
      position: absolute;
      width: 0px;
      -webkit-transition:width 0.3s linear 0s;
      transition.width 0.3s linear 0s; 
      z-index:10;
      }
      .pic:hover + .picbig{
      width: 200px;
      
      }  

::first-line ::first-letter
main {

  width: 1750px;
  padding: 10px;
  border: none;
  margin: 20px;
  font-size: x-large;
}
  
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
footer {
  width: 100%;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(techbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

/* print styles */

@print {size:8.5in 11in; margin: 1in}
  size: 

}

@media print {
  h1,
  p,
  ul,
  blockquote,
  footer 
  font-family: serif;
  color: #000;
  font-size: 10px
   
  

}

  .nav {
    display: none;
}
  image {
    display: none;
  }
  .video {
    display: none;
}
  header {
    display: none;
} 
 head {
    display: none;
} 
